html{
    background-color: black;
}
body{
    background-color: gray;
    margin: 50px
    postion: relative;
}
img{
    width: 200px;
    float: left;
    margin: 5px;

  
}
.NavTitle {
    float: left;
    padding: 10px;
    background-color: rgb(92, 118, 153);
    font-size: xx-large;
    color: white
    font-family:'Indie Flower', cursive;
}
nav {
    max-width: 1200px;
    margin: 0 auto;
}

header { 
    background: white;
    position: sticky;
    top: 0;
    overflow: auto;

}
ul{
    float: right;
    margin: 10px;
    justify-content: center;
    color: lightgray;
}

li {
    float: left;
    list-style: none;
    padding: 5px;
}

.NavItemSeparator {
    border-right: 1px solid lightgrey;
    border-right-width: 2px;
}
section {
    padding: 20px;
    background: white;
    max-width: 960px;
    margin: 20px auto;
    border: 1px solid lightgrey;

}
footer {
    
    background: gray;
    margin: 20px 0 0 0;
    border-top: 6px solid rgb(red, green, blue);
    color: whitesmoke;
}

span {
    color: rgb(red, green, blue);
    justify-content: center;
}

.CopyrightText {
    text-align: center;
    padding-bottom: 10px;
    font-size: xx-small;
}

.description {
    color: gray;
    font-family: 'Ubuntu Condensed', sans-serif;

}
input[TYPE=TEXT], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid saddlebrown;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#container{display:inline-block;}


h1 {
    float: left;
    padding: 10px;
    background-color: rgb(92, 118, 153);
    font-size: xx-large;
    color: white
    font-family:'Indie Flower', cursive;
}

.portfoliowrap {
    height: 300px;
}

#projects {
    width: 100%;
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-left: 15px;
}
  


.webpic{
  width: 230px;
  height: 200px;
  padding: 0px 0px 0px 0px;
  border: 2px solid #70A17A;
}

.text-block {
  background:rgb(92, 118, 153);
  width: 234px;
  height: 40px;
  margin-top: 136px;
  padding-top: 20px;
  position: absolute;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  color: #212923;
  text-align: center;
  transition: all 0.2s linear;
}


.text-block:hover {
   background: #777777;
}


@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {
    section { background-color: green;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    section{ background-color: red;
}

@media screen and (min-width:641px) and (max-width:768px) {
section{ background-color:darkslateblue;}
header{ background-color:tomato;}       
}
 
@media screen and (min-width:769px) and (max-width:980px){
section{ background-color: peru;}
header{ background-color:royalblue;}
}

@media screen and (max-width:640px){
section{ background-color: lightsteelblue;}
header{ background-color:lightgreen;}
}